:root{
    --caixa-cor-frente: #aca1f3;
    --caixa-cor-verso: #191970;
    --fundo: #cefff0;
    --preto: #000000;
    --quase-branco:#FFFFF0;
    --cor-texte-destaque:#6bade2;
}

body{
 background-color: var(--fundo);
 margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--caixa-cor-frente);
    color: var(--quase-branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    flex-grow: 1;
    flex-basis: cal(33% - 6rem);
}

.cartao-conteudo{
    background-color: var(--caixa-cor-frente);
    text-align: center;
    color: var(--quase-branco)
}